:root {
  @layer color-presets {
    --fc-border-color: var(--fc-muted-light);

    --fc-color-hs: var(--fc-muted-hs);
    --fc-color-dark: var(--fc-muted-dark);
    --fc-color-default: var(--fc-muted);
    --fc-color-light: var(--fc-muted-light);
    --fc-color-text: var(--fc-on-muted);

    --fc-color-accent: var(--fc-muted-light);
    --fc-color-on-accent: var(--fc-on-muted-light);
  }
  @layer border {
    --fc-border-radius: 4px;

    --fc-border-width: 1px;
    --fc-border-width-thick: 2px;
    --fc-border-width-accent: 4px;

    --fc-border-line: var(--fc-border-width) solid;
    --fc-border-thick: var(--fc-border-width-thick) solid;
    --fc-border-line-accent: var(--fc-border-width-accent) solid;

    --fc-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  }

  @layer spacing {
    --fc-padding-vertical: 8px;
    --fc-padding-horizontal: 16px;
    --fc-padding-default: var(--fc-padding-vertical)
      var(--fc-padding-horizontal);
    --fc-padding-equal-large: var(--fc-padding-horizontal);
    --fc-padding-equal-small: var(--fc-padding-vertical);
  }

  @layer text {
    --link-decoration: none;
  }
}
