@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap");
.primary {
  background-color: #0074D9;
}

.secondary {
  background-color: #39CCCC;
}

.default {
  background-color: #AAAAAA;
}

.warning {
  background-color: #FF851B;
}

.error {
  background-color: #FF4136;
}

.text-primary {
  color: #0074D9;
}

.text-secondary {
  color: #39CCCC;
}

.text-muted {
  color: #AAAAAA;
}

.text-warning {
  color: #FF851B;
}

.text-error {
  color: #FF4136;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

button {
  padding: .5em 1em .5em 1em;
  border: none;
  border-radius: 2px;
  color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  opacity: 1;
  transition: 0.3s;
  background-color: #AAAAAA;
  margin: .25em .25em .25em .25em;
}

button:hover {
  opacity: 0.7;
  transform: translateY(-1px);
}

button:active {
  transform: translateY(2px);
}

button:focus {
  outline: none;
  transform: translateY(1px);
  box-shadow: none;
  opacity: 0.8;
}

button.primary {
  background-color: #0074D9;
}

button.secondary {
  background-color: #39CCCC;
}

button.default {
  background-color: #AAAAAA;
}

button.warning {
  background-color: #FF851B;
}

button.error {
  background-color: #FF4136;
}

button.flat {
  box-shadow: none;
}

button.flat:focus {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.4);
}

button.white {
  background: #FFFFFF;
  color: #111111;
}

button.white:focus {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
}

button.link {
  box-shadow: none;
  background: #FFFFFF;
  color: #0074D9;
}

button.link:hover,
button.link:focus {
  transform: none;
  text-decoration: underline;
  opacity: 1;
}

button.link:focus {
  color: #B10DC9;
}

body {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1em;
  font-weight: light;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

small {
  font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 110%;
  font-family: "IBM Plex Serif", serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .75em;
}

hr {
  border-top: 1px solid #111111;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  opacity: .2;
  margin: 3em 10% 3em 10%;
}

hr.hr-full {
  margin: 3em 0 3em 0;
}
