@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$font-stack: Roboto,
sans-serif;
$primary-color: teal;
$secondary-color: magenta;
$default-color: #747474;
$default-radius: 5px;
button {
    padding: .5rem 1rem .5rem 1rem;
    border: none;
    border-radius: $default-radius;
    color: white;
    font: 100% $font-stack;
}

button.primary {
    background-color: $primary-color;
}

button.secondary {
    background-color: $secondary-color;
}

button.default {
    background-color: $default-color;
}