@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');
// colors from https://clrs.cc/
$navy:#001f3f;
$blue:#0074D9;
$aqua:#7FDBFF;
$teal:#39CCCC;
$olive:#3D9970;
$green:#2ECC40;
$lime:#01FF70;
$yellow:#FFDC00;
$orange:#FF851B;
$red:#FF4136;
$maroon:#85144b;
$fuchsia:#F012BE;
$purple:#B10DC9;
$black:#111111;
$gray:#AAAAAA;
$silver:#DDDDDD;
$white:#FFFFFF;
// Theme
$primary-color: $blue;
$secondary-color: $teal;
$default-color: $gray;
$warning-color: $orange;
$error-color:$red;
// Fonts
$font-roboto: 'Roboto',
sans-serif;
$font-montserrat: 'Montserrat',
sans-serif;
$font-biorhyme:'BioRhyme',
serif;
$font-ibm-plex:'IBM Plex Serif',
serif;
//misc
$default-radius: 2px;
/////////////////// 
// Color Styles
///////////////////
.primary {
    background-color: $primary-color;
}

.secondary {
    background-color: $secondary-color;
}

.default {
    background-color: $default-color;
}

.warning {
    background-color: $warning-color;
}

.error {
    background-color: $error-color;
}

.text-primary {
    color: $primary-color;
}

.text-secondary {
    color: $secondary-color;
}

.text-muted {
    color: $default-color;
}

.text-warning {
    color: $warning-color;
}

.text-error {
    color: $error-color;
}

/////////////////// 
// Layout Styles
///////////////////
.container {
    margin-left: 10%;
    margin-right: 10%;
}

/////////////////// 
// Button Styles
///////////////////
button {
    padding: .5em 1em .5em 1em;
    border: none;
    border-radius: $default-radius;
    color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
    font-family: $font-montserrat;
    font-size: 1em;
    opacity: 1;
    transition: transform 0.3s linear;
    background-color: $default-color;
    margin: .25em .25em .25em .25em;
}

button:hover {
    opacity: 0.7;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    will-change: transform;
}

button:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    will-change: transform;
}

button:focus {
    outline: none;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    will-change: transform;
    box-shadow: none;
    opacity: 0.8;
}

button.primary {
    background-color: $primary-color;
}

button.secondary {
    background-color: $secondary-color;
}

button.default {
    background-color: $default-color;
}

button.warning {
    background-color: $warning-color;
}

button.error {
    background-color: $error-color;
}

button.flat {
    box-shadow: none;
}

button.flat:focus {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .4);
}

button.white {
    background: $white;
    color: $black;
}

button.white:focus {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .4);
}

button.link {
    box-shadow: none;
    background: $white;
    color: $blue;
}

button.link:hover,
button.link:focus {
    transform: none;
    text-decoration: underline;
    opacity: 1;
}

button.link:focus {
    color: $purple;
}

/////////////////// 
// Text Styles
///////////////////
body {
    font-family: $font-montserrat;
}

p {
    font-size: 1em;
    font-weight: light;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

small {
    font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 110%;
    font-family: $font-ibm-plex;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: .5em 0 .5em 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .75em;
}

/////////////////// 
// Separator Styles
///////////////////
hr {
    border-top: 1px solid $black;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    opacity: .2;
    margin: 3em 10% 3em 10%;
}

hr.hr-full {
    margin: 3em 0 3em 0;
}

/////////////////// 
// Cards
///////////////////
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, .4);
    transition: 0.3s;
    display: inline-block;
    border-radius: $default-radius;
}

.card.card-small {
    max-width: 400px;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, .3);
}


/* Add some padding inside the card container */

.card .card-content {
    padding: 2px 2em 2px 2em;
}

.card .card-title {
    padding: 2px 2em 0 2em;
    border-bottom: 1px solid $silver;
}