@layer flyght-css, site;
@import "flyght-css/flyght.css" layer(flyght-css);

@layer site {
  @layer overrides {
    main {
      margin: 5rem 10%;
      height: 100vh;
    }
  }

  @layer custom-styles {
    .side-nav {
      float: left;
      width: 20%;
    }

    .content {
      float: left;
      width: 80%;
    }

    color-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 50px;
      width: 200px;
      margin: 0;
      padding: 0;
    }

    color-group {
      display: flex;
      margin: 5px;
    }

    .color-label {
      padding: 0 5px;
      margin: 5px 0;
    }
  }
}
