blockquote {
  @layer base {
    padding: var(--fc-padding-default);
    border-left: var(--fc-border-line-accent) var(--fc-border-color);
    text-align: left;
    border-radius: var(--fc-border-radius);
    --fc-bq-color: var(--fc-muted);
    margin: 1em;

    &.fc-quote:before,
    &.fc-quote:after {
      font-size: 1.5em;
      font-style: italic;
      font-weight: 400;
      color: var(--fc-border-color);
    }

    &.fc-quote:before {
      margin-left: -1ch;
      content: open-quote;
    }

    &.fc-quote:after {
      content: close-quote;
    }
  }
}

blockquote .fc-source {
  font-style: italic;
  text-align: right;
  margin: -1.5em 0 0 0;
  display: block;
}

blockquote .fc-source:before {
  content: "\A- ";
  white-space: pre-wrap;
}
