blockquote {
  @layer base {
    padding: var(--fc-padding-default);
    border-left: var(--fc-border-line-accent) var(--fc-muted);
    text-align: left;
    border-radius: var(--fc-border-radius);
    --fc-bq-color: var(--fc-muted);
    margin: 1em;

    &.fc-quote:before,
    &.fc-quote:after {
      font-size: 1.5em;
      font-style: italic;
      font-weight: 400;
      color: var(--fc-bq-color);
    }

    &.fc-quote:before {
      margin-left: -1ch;
      content: open-quote;
    }

    &.fc-quote:after {
      content: close-quote;
    }

    &.fc-border-primary {
      --fc-bq-color: var(--fc-primary);
    }
    &.fc-border-primary-dark {
      --fc-bq-color: var(--fc-primary-dark);
    }
    &.fc-border-primary-light {
      --fc-bq-color: var(--fc-primary-light);
    }

    &.fc-border-secondary {
      --fc-bq-color: var(--fc-secondary);
    }
    &.fc-border-secondary-dark {
      --fc-bq-color: var(--fc-secondary-dark);
    }
    &.fc-border-secondary-light {
      --fc-bq-color: var(--fc-secondary-light);
    }

    &.fc-border-success {
      --fc-bq-color: var(--fc-success);
    }
    &.fc-border-success-dark {
      --fc-bq-color: var(--fc-success-dark);
    }
    &.fc-border-success-light {
      --fc-bq-color: var(--fc-success-light);
    }

    &.fc-border-warn {
      --fc-bq-color: var(--fc-warn);
    }
    &.fc-border-warn-dark {
      --fc-bq-color: var(--fc-warn-dark);
    }
    &.fc-border-warn-light {
      --fc-bq-color: var(--fc-warn-light);
    }

    &.fc-border-error {
      --fc-bq-color: var(--fc-error);
    }
    &.fc-border-error-dark {
      --fc-bq-color: var(--fc-error-dark);
    }
    &.fc-border-error-light {
      --fc-bq-color: var(--fc-error-light);
    }

    &.fc-border-muted {
      --fc-bq-color: var(--fc-muted);
    }
    &.fc-border-muted-dark {
      --fc-bq-color: var(--fc-muted-dark);
    }
    &.fc-border-muted-light {
      --fc-bq-color: var(--fc-muted-light);
    }
  }
}

blockquote .fc-source {
  font-style: italic;
  text-align: right;
  margin: -1.5em 0 0 0;
  display: block;
}

blockquote .fc-source:before {
  content: "\A- ";
  white-space: pre-wrap;
}
