blockquote {
  @layer base {
    padding: var(--fc-padding-default);
    border-left: var(--fc-border-line-accent) var(--fc-muted);
    text-align: left;
    border-radius: var(--fc-border-radius);

    &.fc-quote:before,
    &.fc-quote:after {
      color: var(--fc-muted);
      font-size: 1.5em;
      font-style: italic;
      font-weight: 400;
    }

    &.fc-quote:before {
      margin-left: -1ch;
      content: open-quote;
    }

    &.fc-quote:after {
      content: close-quote;
    }
  }

  @layer main {
    &.fc-border-primary {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-primary);
      }
    }
    &.fc-border-primary-dark {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-primary-dark);
      }
    }
    &.fc-border-primary-light {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-primary-light);
      }
    }

    &.fc-border-secondary {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-secondary);
      }
    }
    &.fc-border-secondary-dark {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-secondary-dark);
      }
    }
    &.fc-border-secondary-light {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-secondary-light);
      }
    }

    &.fc-border-success {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-success);
      }
    }
    &.fc-border-success-dark {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-success-dark);
      }
    }
    &.fc-border-success-light {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-success-light);
      }
    }

    &.fc-border-warn {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-warn);
      }
    }
    &.fc-border-warn-dark {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-warn-dark);
      }
    }
    &.fc-border-warn-light {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-warn-light);
      }
    }

    &.fc-border-error {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-error);
      }
    }
    &.fc-border-error-dark {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-error-dark);
      }
    }
    &.fc-border-error-light {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-error-light);
      }
    }

    &.fc-border-muted {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-muted);
      }
    }
    &.fc-border-muted-dark {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-muted-dark);
      }
    }
    &.fc-border-muted-light {
      &.fc-quote:before,
      &.fc-quote:after {
        color: var(--fc-muted-light);
      }
    }
  }
}

blockquote .fc-source {
  font-style: italic;
  text-align: right;
  margin: -0.5em 0 0 0;
}

blockquote .fc-source:before {
  content: "\A- ";
  white-space: pre-wrap;
}
