.fc-card {
  box-shadow: var(--fc-shadow-elevation-medium);
  border: var(--fc-border-line);
  border-color: var(--fc-border-color);
  border-radius: var(--fc-border-radius);
  background-clip: padding-box;
  margin: var(--fc-spacing-default);
  overflow: auto;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .fc-card-content {
    padding: var(--fc-spacing-default);
  }
  .fc-card-tabs,
  .fc-card-title {
    padding: 0.3em 2em 0 2em;
    flex: 0 1 auto;
  }
  .fc-card-footer {
    padding: var(--fc-spacing-default);
    flex: 0 1 auto;
  }
  .fc-card-image {
    display: flex;
    flex-direction: column;
    img {
      max-width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
    }
  }
  & > :not(:last-child) {
    border-bottom: var(--fc-border-line);
    border-color: var(--fc-border-color);
  }
  &.fc-card-flat {
    box-shadow: none;
  }
}
