pre,
:not(pre) > code {
  background-color: var(--fc-muted-light);
  font-family: var(--fc-monospace-font);
  border-radius: var(--fc-border-radius);
}

pre {
  padding: var(--fc-padding-default);

  &.fc-border-left {
    border-left: var(--fc-border-line-accent) var(--fc-muted);
  }
}

:not(pre) > code {
  padding: 0.25em 1ch;
}
