pre,
:not(pre) > code {
  background-color: var(--fc-muted-light);
  font-family: var(--fc-monospace-font);
  border-radius: var(--fc-border-radius);
  overflow-x: auto;
}

pre {
  padding: var(--fc-padding-default);
  margin: 1em;

  &.fc-border-left {
    border-left: var(--fc-border-line-accent);
    --fc-border-color: var(--fc-muted);
    border-color: var(--fc-border-color);
  }
}

:not(pre) > code {
  padding: 2px 1ch;
}
