.fc-nav {
  overflow: hidden;
  height: 4em;
  display: flex;
  justify-content: flex-end;
  padding: 0 10%;
  align-items: center;
  .fc-nav-container {
    display: flex;
    align-items: center;

    &.fc-nav-right {
      margin-right: auto;
    }
  }
}

.fc-nav-title {
  font-size: 2em;
}

.fc-nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
