.fc-nav {
  display: inline-block;
  width: 100%;
  .fc-nav-content {
    padding: 0 10%;
    overflow: hidden;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fc-nav-container {
      display: flex;
      align-items: center;
    }
  }
}

.fc-nav-title {
  font-size: 2rem;
}

.fc-nav-sticky {
  position: fixed;
  top: 0;
}
