@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap");
// colors from https://clrs.cc/
$navy:#001f3f;
$blue:#0074D9;
$aqua:#7FDBFF;
$teal:#39CCCC;
$olive:#3D9970;
$green:#2ECC40;
$lime:#01FF70;
$yellow:#FFDC00;
$orange:#FF851B;
$red:#FF4136;
$maroon:#85144b;
$pink:#F012BE;
$purple:#B10DC9;
$black:#111111;
$gray:#AAAAAA;
$silver:#DDDDDD;
$white:#FFFFFF;
// Theme 
$primary-color: $blue;
$secondary-color: $teal;
$default-color: $gray;
$success-color: $green;
$warning-color: $orange;
$error-color:$red;
// Fonts
$font-roboto: 'Roboto',
sans-serif;
$font-montserrat: 'Montserrat',
sans-serif;
$font-biorhyme:'BioRhyme',
serif;
$font-ibm-plex:'IBM Plex Serif',
serif;
//misc
$default-radius: 2px;