<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} - Flyght CSS</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav class="side-nav">
      <div class="nav-links">
        <a href="/">Home</a><br />
        <a href="/pages/typography">Typography</a><br />
        <a href="/pages/lists">Lists</a><br />
        <a href="/pages/colors">Colors</a><br />
        <a href="/pages/cards">Cards</a><br />
        <a href="/pages/buttons">Buttons</a><br />
        <a href="/pages/images">Images</a><br />
        <a href="/pages/misc">Miscellany</a><br />
        <a href="/pages/util">Utilities</a><br />
      </div>
    </nav>
    <main class="content">
      <h1>{{ title }}</h1>

      <hr />

      <div>{{ content }}</div>
    </main>
  </body>
</html>
