/////////////////// 
// Layout Styles
///////////////////
// https://www.w3schools.com/css/css_rwd_grid.asp
.container {
    margin-left: 10%;
    margin-right: 10%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.display-block {
    display: block;
}

.jump-to::before {
    display: block;
    content: " ";
    margin-top: -2em;
    height: 2em;
    visibility: hidden;
    pointer-events: none;
}