/////////////////// 
// Grid
///////////////////
.row::after {
    @include clearfix;
}


/* For mobile phones: */

[class*="col"] {
    width: 100%;
    float: left;
}

$grid-1: 8.33%;
$grid-2: 16.66%;
$grid-3: 25%;
$grid-4: 33.33%;
$grid-5: 41.66%;
$grid-6: 50%;
$grid-7: 58.33%;
$grid-8: 66.66%;
$grid-9: 75%;
$grid-10: 83.33%;
$grid-11: 91.66%;
$grid-12: 100%;
@mixin responsive-col($size) {
    .col.#{$size}1 {
        width: $grid-1;
    }
    .col.#{$size}2 {
        width: $grid-2;
    }
    .col.#{$size}3 {
        width: $grid-3;
    }
    .col.#{$size}4 {
        width: $grid-4;
    }
    .col.#{$size}5 {
        width: $grid-5;
    }
    .col.#{$size}6 {
        width: $grid-6;
    }
    .col.#{$size}7 {
        width: $grid-7;
    }
    .col.#{$size}8 {
        width: $grid-8;
    }
    .col.#{$size}9 {
        width: $grid-9;
    }
    .col.#{$size}10 {
        width: $grid-10;
    }
    .col.#{$size}11 {
        width: $grid-11;
    }
    .col.#{$size}12 {
        width: $grid-12;
    }
}

.col .demo {
    display: block;
    margin: .1em .3em .1em .3em;
    padding: .5em 1em .5em 1em;
    background: $teal;
    text-align: center;
    border-radius: $default-radius;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    @include responsive-col(xs);
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    @include responsive-col(s);
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    @include responsive-col(m);
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    @include responsive-col(l);
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    @include responsive-col(xl);
}