/*
* Animation Variables
*/

$timing: .4s;
$ease: cubic-bezier(0.865, 0.140, 0.095, 0.870);

/* Basic Accordion Styles */

.accordion {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, .4);
    border-radius: $default-radius;
    input[name='panel'] {
        display: none;
    }
    label {
        position: relative;
        display: block;
        padding: 1em;
        border-bottom: 1px solid $silver;
        cursor: pointer;
        transition: all $timing $ease;
        &:hover {
            background-color: $silver;
        }
    }
    .accordion-content {
        overflow: hidden;
        max-height: 0em;
        position: relative;
        padding: 0 2em;
        border: 1px hidden $white;
        transition: all $timing $ease;
        .accordion-body {
            padding: 0 0 1.5em;
        }
    }
}

input[name='panel']:checked~.accordion-content {
    /* Get this as close to what height you expect */
    max-height: 50em;
    border-bottom: 1px solid $silver;
    transition: all $timing $ease;
}