/////////////////// 
// Button Styles
///////////////////
button,
a.link-button {
    padding: .5em 1em .5em 1em;
    border: none;
    border-radius: $default-radius;
    color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
    font-family: $font-montserrat;
    font-size: 1em;
    opacity: 1;
    transition: transform 0.2s;
    background-color: $default-color;
    margin: .25em .25em .25em .25em;
    cursor: pointer;
}

a.link-button {
    display: inline-block;
}

button:hover,
a.link-button:hover {
    opacity: 0.7;
    -webkit-transform: translateY(-.05em) rotate(0.0001deg);
    transform: translateY(-.05em) rotate(0.0001deg);
    will-change: transform;
}

button:active,
a.link-button:hover {
    transition: transform 0.1s;
    -webkit-transform: translateY(.1em) rotate(0.0001deg);
    transform: translateY(.1em) rotate(0.0001deg);
    will-change: transform;
}

button:focus,
a.link-button:focus {
    outline: none;
    -webkit-transform: translateY(.05em) rotate(0.0001deg);
    transform: translateY(.05em) rotate(0.0001deg);
    will-change: transform;
    box-shadow: none;
    opacity: 0.8;
}

button.flat {
    box-shadow: none;
}

button.flat:focus {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .4);
}

button.white {
    background: $white;
    color: $black;
}

button.white:focus {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .4);
}

button.link {
    box-shadow: none;
    background: $white;
    color: $blue;
}

button.link:hover,
button.link:focus {
    transform: none;
    text-decoration: underline;
    opacity: 1;
}

button.link:focus {
    color: $purple;
}

.to-top {
    border-radius: 50%;
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 4em;
    height: 4em;
}