/////////////////// 
// Cards
///////////////////
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, .4);
    transition: 0.3s;
    border-radius: $default-radius;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    margin: .5em .5em .5em .5em;
    overflow: hidden;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, .3);
}


/* Add some padding inside the card container */

.card .card-content {
    padding: 1em 1em 1em 1em;
}

.card .card-title {
    padding: .3em 2em 0 2em;
    border-bottom: 1px solid $silver;
}

.card .card-image .card-title {
    position: absolute;
    border: none;
    padding: 0 1em 0 1em;
    bottom: .25em;
    left: 0;
}

.card .card-image .card-title.title-background {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    right: 0;
    color: $white;
}

.card .card-image {
    position: relative;
}

.card .card-image img {
    max-width: 100%;
    height: auto;
}

.card .card-footer {
    padding: .3em 2em .3em 2em;
    border-top: 1px solid $silver;
}

.card .card-title::after,
.card .card-content::after,
.card .card-image::after,
.card .card-footer::after {
    @include clearfix;
}