/////////////////// 
// Dropdown
///////////////////

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $silver;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: -.2em .2em 0 .2em;
}


/* Links inside the dropdown */

.dropdown-content a {
    padding: 1em 1em;
    text-decoration: none;
    display: block;
    color: $black;
}

.dropdown-button:hover {
    -webkit-transform: none;
    transform: none;
    will-change: none;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: $gray;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    opacity: 0.7;
}