ul.bullet-circle {
    list-style-type: circle;
}

ul.bullet-square {
    list-style-type: square;
}

ol.bullet-roman {
    list-style-type: upper-roman;
}

ol.bullet-alpha {
    list-style-type: lower-alpha;
}

dl {
    width: 100%;
}

// learned from here https://clicknathan.com/web-design/styling-html-5-description-lists-formerly-known-as-definition-lists-properly/
// woo clearfixing on the dl
dl:after {
    content: "";
    display: table;
    clear: both;
}

dt {
    font-weight: bold;
    clear: left;
    float: left;
    width: 25%;
    text-align: right;
    padding: .25em;
    clear: left;
}

dd {
    float: left;
    clear: right;
    width: 65%;
    padding: .5em 0;
}

dd+dd {
    float: right;
    clear: both;
}

dd+dt {
    clear: both;
    padding-top: .5em;
}

////////////////
// List Group
////////////////
ul.list-group {
    list-style-type: none;
    padding: 0;
    border: 1px solid $silver;
    border-radius: $default-radius;
}

ul.list-group li {
    padding: .5em 1em;
    border-bottom: 1px solid $silver;
}

ul.list-group li:last-child {
    border-bottom: none;
}

ul.list-group.striped li:nth-child(even) {
    background-color: lighten($silver, 10%);
}

ul.list-group.hover li:hover {
    background-color: lighten($silver, 5%);
}