@layer presets {
  .fc-primary {
    --fc-color-hs: var(--fc-primary-hs);
    --fc-color-dark: var(--fc-primary-dark);
    --fc-color-default: var(--fc-primary);
    --fc-color-light: var(--fc-primary-light);
    --fc-color-text: var(--fc-on-primary);
  }
  .fc-secondary {
    --fc-color-hs: var(--fc-secondary-hs);
    --fc-color-dark: var(--fc-secondary-dark);
    --fc-color-default: var(--fc-secondary);
    --fc-color-light: var(--fc-secondary-light);
    --fc-color-text: var(--fc-on-secondary);
  }
  .fc-success {
    --fc-color-hs: var(--fc-success-hs);
    --fc-color-dark: var(--fc-success-dark);
    --fc-color-default: var(--fc-success);
    --fc-color-light: var(--fc-success-light);
    --fc-color-text: var(--fc-on-success);
  }
  .fc-warn {
    --fc-color-hs: var(--fc-warn-hs);
    --fc-color-dark: var(--fc-warn-dark);
    --fc-color-default: var(--fc-warn);
    --fc-color-light: var(--fc-warn-light);
    --fc-color-text: var(--fc-on-warn);
  }
  .fc-error {
    --fc-color-hs: var(--fc-error-hs);
    --fc-color-dark: var(--fc-error-dark);
    --fc-color-default: var(--fc-error);
    --fc-color-light: var(--fc-error-light);
    --fc-color-text: var(--fc-on-error);
  }
  .fc-muted {
    --fc-color-hs: var(--fc-muted-hs);
    --fc-color-dark: var(--fc-muted-dark);
    --fc-color-default: var(--fc-muted);
    --fc-color-light: var(--fc-muted-light);
    --fc-color-text: var(--fc-on-muted);
  }
  .fc-white {
    --fc-color-hs: var(0 0%);
    --fc-color-dark: var(--fc-muted);
    --fc-color-default: var(--white);
    --fc-color-light: var(--white);
    --fc-color-text: var(--black);
    --fc-v-light: 100%;
    --fc-light: 100%;
    --fc-mid: 100%;
    --fc-m-dark: 80%;
    --fc-dark: 70%;
  }
  .fc-black {
    --fc-color-hs: var(--fc-secondary-hs);
    --fc-color-dark: var(--fc-secondary-dark);
    --fc-color-default: var(--fc-secondary);
    --fc-color-light: var(--fc-secondary-light);
    --fc-color-text: var(--fc-on-secondary);
  }
}

@layer text {
  .fc-text-white {
    color: white;
  }

  .fc-text-black {
    color: black;
  }

  .fc-text-primary-light {
    color: var(--fc-primary-light);
  }

  .fc-text-primary {
    color: var(--fc-primary);
  }

  .fc-text-primary-dark {
    color: var(--fc-primary-dark);
  }

  .fc-text-on-primary {
    color: var(--fc-on-primary);
  }

  .fc-text-secondary-light {
    color: var(--fc-secondary-light);
  }

  .fc-text-secondary {
    color: var(--fc-secondary);
  }

  .fc-text-secondary-dark {
    color: var(--fc-secondary-dark);
  }

  .fc-text-on-secondary {
    color: var(--fc-on-secondary);
  }

  .fc-text-success-light {
    color: var(--fc-success-light);
  }

  .fc-text-success {
    color: var(--fc-success);
  }

  .fc-text-success-dark {
    color: var(--fc-success-dark);
  }

  .fc-text-on-success {
    color: var(--fc-on-success);
  }

  .fc-text-warn-light {
    color: var(--fc-warn-light);
  }

  .fc-text-warn {
    color: var(--fc-warn);
  }

  .fc-text-warn-dark {
    color: var(--fc-warn-dark);
  }

  .fc-text-on-warn {
    color: var(--fc-on-warn);
  }

  .fc-text-error-light {
    color: var(--fc-error-light);
  }

  .fc-text-error {
    color: var(--fc-error);
  }

  .fc-text-error-dark {
    color: var(--fc-error-dark);
  }

  .fc-text-on-error {
    color: var(--fc-on-error);
  }

  .fc-text-muted-light {
    color: var(--fc-muted-light);
  }

  .fc-text-muted {
    color: var(--fc-muted);
  }

  .fc-text-muted-dark {
    color: var(--fc-muted-dark);
  }

  .fc-text-on-muted {
    color: var(--fc-on-muted);
  }
}

@layer background {
  .fc-bg-primary {
    background-color: var(--fc-primary);
  }

  .fc-bg-primary-dark {
    background-color: var(--fc-primary-dark);
  }

  .fc-bg-primary-light {
    background-color: var(--fc-primary-light);
  }

  .fc-bg-secondary {
    background-color: var(--fc-secondary);
  }

  .fc-bg-secondary-dark {
    background-color: var(--fc-secondary-dark);
  }

  .fc-bg-secondary-light {
    background-color: var(--fc-secondary-light);
  }

  .fc-bg-success {
    background-color: var(--fc-success);
  }

  .fc-bg-success-dark {
    background-color: var(--fc-success-dark);
  }

  .fc-bg-success-light {
    background-color: var(--fc-success-light);
  }

  .fc-bg-warn {
    background-color: var(--fc-warn);
  }

  .fc-bg-warn-dark {
    background-color: var(--fc-warn-dark);
  }

  .fc-bg-warn-light {
    background-color: var(--fc-warn-light);
  }

  .fc-bg-error {
    background-color: var(--fc-error);
  }

  .fc-bg-error-dark {
    background-color: var(--fc-error-dark);
  }

  .fc-bg-error-light {
    background-color: var(--fc-error-light);
  }

  .fc-bg-muted {
    background-color: var(--fc-muted);
  }

  .fc-bg-muted-dark {
    background-color: var(--fc-muted-dark);
  }

  .fc-bg-muted-light {
    background-color: var(--fc-muted-light);
  }
}

@layer border {
  .fc-border-primary {
    --fc-border-color: var(--fc-primary);
  }

  .fc-border-primary-dark {
    --fc-border-color: var(--fc-primary-dark);
  }

  .fc-border-primary-light {
    --fc-border-color: var(--fc-primary-light);
  }

  .fc-border-secondary {
    --fc-border-color: var(--fc-secondary);
  }

  .fc-border-secondary-dark {
    --fc-border-color: var(--fc-secondary-dark);
  }

  .fc-border-secondary-light {
    --fc-border-color: var(--fc-secondary-light);
  }

  .fc-border-success {
    --fc-border-color: var(--fc-success);
  }

  .fc-border-success-dark {
    --fc-border-color: var(--fc-success-dark);
  }

  .fc-border-success-light {
    --fc-border-color: var(--fc-success-light);
  }

  .fc-border-warn {
    --fc-border-color: var(--fc-warn);
  }

  .fc-border-warn-dark {
    --fc-border-color: var(--fc-warn-dark);
  }

  .fc-border-warn-light {
    --fc-border-color: var(--fc-warn-light);
  }

  .fc-border-error {
    --fc-border-color: var(--fc-error);
  }

  .fc-border-error-dark {
    --fc-border-color: var(--fc-error-dark);
  }

  .fc-border-error-light {
    --fc-border-color: var(--fc-error-light);
  }

  .fc-border-muted {
    --fc-border-color: var(--fc-muted);
  }

  .fc-border-muted-dark {
    --fc-border-color: var(--fc-muted-dark);
  }

  .fc-border-muted-light {
    --fc-border-color: var(--fc-muted-light);
  }
}

@layer accent {
  .fc-accent-primary {
    --fc-color-accent: var(--fc-primary);
    --fc-color-on-accent: var(--fc-on-primary);
  }

  .fc-accent-primary-dark {
    --fc-color-accent: var(--fc-primary-dark);
    --fc-color-on-accent: var(--fc-on-primary-dark);
  }

  .fc-accent-primary-light {
    --fc-color-accent: var(--fc-primary-light);
    --fc-color-on-accent: var(--fc-on-primary-light);
  }

  .fc-accent-secondary {
    --fc-color-accent: var(--fc-secondary);
    --fc-color-on-accent: var(--fc-on-secondary);
  }

  .fc-accent-secondary-dark {
    --fc-color-accent: var(--fc-secondary-dark);
    --fc-color-on-accent: var(--fc-on-secondary-dark);
  }

  .fc-accent-secondary-light {
    --fc-color-accent: var(--fc-secondary-light);
    --fc-color-on-accent: var(--fc-on-secondary-light);
  }

  .fc-accent-success {
    --fc-color-accent: var(--fc-success);
    --fc-color-on-accent: var(--fc-on-success);
  }

  .fc-accent-success-dark {
    --fc-color-accent: var(--fc-success-dark);
    --fc-color-on-accent: var(--fc-on-success-dark);
  }

  .fc-accent-success-light {
    --fc-color-accent: var(--fc-success-light);
    --fc-color-on-accent: var(--fc-on-success-light);
  }

  .fc-accent-warn {
    --fc-color-accent: var(--fc-warn);
    --fc-color-on-accent: var(--fc-on-warn);
  }

  .fc-accent-warn-dark {
    --fc-color-accent: var(--fc-warn-dark);
    --fc-color-on-accent: var(--fc-on-warn-dark);
  }

  .fc-accent-warn-light {
    --fc-color-accent: var(--fc-warn-light);
    --fc-color-on-accent: var(--fc-on-warn-light);
  }

  .fc-accent-error {
    --fc-color-accent: var(--fc-error);
    --fc-color-on-accent: var(--fc-on-error);
  }

  .fc-accent-error-dark {
    --fc-color-accent: var(--fc-error-dark);
    --fc-color-on-accent: var(--fc-on-error-dark);
  }

  .fc-accent-error-light {
    --fc-color-accent: var(--fc-error-light);
    --fc-color-on-accent: var(--fc-on-error-light);
  }

  .fc-accent-muted {
    --fc-color-accent: var(--fc-muted);
    --fc-color-on-accent: var(--fc-on-muted);
  }

  .fc-accent-muted-dark {
    --fc-color-accent: var(--fc-muted-dark);
    --fc-color-on-accent: var(--fc-on-muted-dark);
  }

  .fc-accent-muted-light {
    --fc-color-accent: var(--fc-muted-light);
    --fc-color-on-accent: var(--fc-on-muted-light);
  }
}
