blockquote {
  padding-left: 1em;
  border-left: 0.3em solid var(--fc-primary);
  text-align: left;
}

.fc-quote:before,
.fc-quote:after {
  color: var(--fc-primary-dark);
  font-size: 1.5em;
  font-style: italic;
  font-weight: 400;
}

.fc-quote:before {
  content: open-quote;
}

.fc-quote:after {
  content: close-quote;
}

blockquote .fc-source {
  font-style: italic;
  color: var(--fc-primary-dark);
  text-align: right;
  margin: -0.5em 0 0 0;
}

blockquote .fc-source:before {
  content: "\A- ";
  white-space: pre-wrap;
}
