&.fc-primary {
  background-color: var(--fc-primary);
}
&.fc-primary-dark {
  background-color: var(--fc-primary-dark);
}
&.fc-primary-light {
  background-color: var(--fc-primary-light);
}

&.fc-secondary {
  background-color: var(--fc-secondary);
}
&.fc-secondary-dark {
  background-color: var(--fc-secondary-dark);
}
&.fc-secondary-light {
  background-color: var(--fc-secondary-light);
}

&.fc-success {
  background-color: var(--fc-success);
}
&.fc-success-dark {
  background-color: var(--fc-success-dark);
}
&.fc-success-light {
  background-color: var(--fc-success-light);
}

&.fc-warn {
  background-color: var(--fc-warn);
}
&.fc-warn-dark {
  background-color: var(--fc-warn-dark);
}
&.fc-warn-light {
  background-color: var(--fc-warn-light);
}

&.fc-error {
  background-color: var(--fc-error);
}
&.fc-error-dark {
  background-color: var(--fc-error-dark);
}
&.fc-error-light {
  background-color: var(--fc-error-light);
}

&.fc-muted {
  background-color: var(--fc-muted);
}
&.fc-muted-dark {
  background-color: var(--fc-muted-dark);
}
&.fc-muted-light {
  background-color: var(--fc-muted-light);
}
