/////////////////// 
// Color Styles
///////////////////
@mixin color-values ($name, $color) {
    .#{$name} {
        background-color: $color !important;
    }
    .#{$name}.lighten-1 {
        background-color: lighten($color, 5%) !important;
    }
    .#{$name}.lighten-2 {
        background-color: lighten($color, 10%) !important;
    }
    .#{$name}.lighten-3 {
        background-color: lighten($color, 20%) !important;
    }
    .#{$name}.lighten-4 {
        background-color: lighten($color, 30%) !important;
    }
    .#{$name}.lighten-5 {
        background-color: lighten($color, 40%) !important;
    }
    .#{$name}.darken-1 {
        background-color: darken($color, 5%) !important;
    }
    .#{$name}.darken-2 {
        background-color: darken($color, 10%) !important;
    }
    .#{$name}.darken-3 {
        background-color: darken($color, 20%) !important;
    }
    .#{$name}.darken-4 {
        background-color: darken($color, 30%) !important;
    }
    .#{$name}.darken-5 {
        background-color: darken($color, 40%) !important;
    }
    .text-#{$name} {
        color: $color !important;
    }
    .text-#{$name}.text-lighten-1 {
        color: text-lighten($color, 10%) !important;
    }
    .text-#{$name}.text-lighten-2 {
        color: text-lighten($color, 20%) !important;
    }
    .text-#{$name}.text-lighten-3 {
        color: text-lighten($color, 30%) !important;
    }
    .text-#{$name}.text-lighten-4 {
        color: text-lighten($color, 40%)v;
    }
    .text-#{$name}.text-lighten-5 {
        color: text-lighten($color, 50%) !important;
    }
    .text-#{$name}.text-darken-1 {
        color: text-darken($color, 10%) !important;
    }
    .text-#{$name}.text-darken-2 {
        color: text-darken($color, 20%) !important;
    }
    .text-#{$name}.text-darken-3 {
        color: text-darken($color, 30%) !important;
    }
    .text-#{$name}.text-darken-4 {
        color: text-darken($color, 40%) !important;
    }
    .text-#{$name}.text-darken-5 {
        color: text-darken($color, 50%) !important;
    }
}

@include color-values('navy', $navy);
@include color-values('blue', $blue);
@include color-values('aqua', $aqua);
@include color-values('teal', $teal);
@include color-values('olive', $olive);
@include color-values('green', $green);
@include color-values('lime', $lime);
@include color-values('yellow', $yellow);
@include color-values('orange', $orange);
@include color-values('red', $red);
@include color-values('maroon', $maroon);
@include color-values('pink', $pink);
@include color-values('purple', $purple);
@include color-values('black', $black);
@include color-values('gray', $gray);
@include color-values('silver', $silver);
@include color-values('white', $white);
@include color-values('primary', $primary-color);
@include color-values('secondary', $secondary-color);
@include color-values('default', $default-color);
@include color-values('success', $success-color);
@include color-values('warning', $warning-color);
@include color-values('error', $error-color);